* {
    font-family: 'Delicious Handrawn', cursive;
    font-size: 20px;
}

img {
    object-fit: cover;
    width: 80px;
}

input + small + small {
    display: none;
}

input:valid + small {
    display: none;
}

input:valid + small + small {
    display: block;
}

.form-group {
    width: 500px;
    margin: auto;
    padding: 30px;
    border: 1px solid grey;
    border-radius: 15px;
}

button {
    width: 100%;
}